a:link {
  color: lightblue;
}
a:visited {
  color: lightblue;
}
a:hover {
  color: lightblue;
}
a:active {
  color: lightblue;
}
 .button {
    border-color: black;
    border-style: solid;
    font-weight: bold;
    text-decoration: none;
    color: lightblue;
    background-color: DimGray;
 }
 
#hiddenElement {
  display: none; /* Initially hide the element */
}

}
 button-container {
            display: flex; /* Use flexbox to arrange buttons horizontally */
            justify-content: center; /* Center-align the buttons horizontally */
           cursor:pointer;

        }
        /* Center the search bar */
        search-container {
            text-align: center;
        }

        searchInput {
            padding: 10px; /* Add some padding for better visual appearance */
            border: none; /* Remove the default border */
            border-radius: 5px; /* Add rounded corners */
            background-color: black; /* Set the background color to black */
            color: blue; /* Set the text color to blue */
            width: 300px; /* Set a specific width for the input field */
            outline: none; /* Remove the outline when focused */
        }

        /* Style the input field placeholder text */
        #searchInput::placeholder {
            color: lightblue; /* Set the placeholder text color to light blue */
        }
